<div class="sign-page">
  <div class="sign-container">
    <div class="sign-box">
      <h1>Sign Up! 👋</h1>
      <p>Join us today!</p>
      <button class="google-signup">Sign up with Google</button>
      <button class="github-signup">Sign up with Github</button>
      <p>or Sign up with Email</p>
      <form>
        <input type="text" placeholder="Full Name" />
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button type="submit">Sign Up</button>
      </form>
      <p>Already have an account? <a [routerLink]="['/login']">Login</a></p>
    </div>
  </div>
</div>
